.body {
    height: 100vh;
}

.content {
  margin: 24px 16px;
  padding: 16;
  background: #fff;
  min-height: 280;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .site-card-wrapper {
    padding: 10px;
  }
